body {
    margin: 0;
}


.container {
    padding: 0 15px;
}

.fila-par {
    background-color: #B1EEA5;
}

.fila-impar {
    background-color: #FFFFFF;
}

table .cabecera {
    background-color: #F5AF15;
}

th, td, tr {
    text-align: center;
    width: auto;
    color: #000000;
}

.panel-primary{
    border-width: 2px;
    border-color: #90ee90

}

.col-md-6{
    padding-left:0;
    padding-right:2;
}

.form-control:focus{
    border-color: #4ee44e
}

#guardarCambios{
    background-color: #B1EEA5; 
    float: center;
}

#jumbo-titulo{
    background: transparent;
    color: #000000;
}

label {
    float: left;
    color: #000000;
}

.row {
    margin-left: 0%;
}

.jumbotron {
    background-color: #FFFFFF;
}

.panel {
    width: 70vw;
    position: fixed;
    left: 15vw;
}

.Color-Menu {
    background-color: #f0f0f0;
    border-color: rgba(#ffffff, 0);
}

.Color-Menu:hover {
    color: #dedede;
}

.logo {
    max-height: 30px;
}

img.bg {
    /* Establezca reglas para el relleno de fondo */
    min-height: 100%;
    min-width: 100%;
    /* Establecer la escala proporcional */
    width: 100%;
    height: 120%;
    /* Establecer posicion */
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    margin: 0;
}

.navbar-inverse {
    background-color: #038859;
    border-color: #a312d0;
    color: #39772a;
}

.navbar-inverse .navbar-brand {
    color: #913116;
}

video {
    width: 70vw;
    position: relative;
    margin: 5vh 15vw;
    z-index: -1;
}

.btn-ttc, .btn-ttc:hover, .btn-ttc:active {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007da7;
}


/* Aplicar gradientes de colores */


/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */

.btn-ttc {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
}


/* Estilos del estado :hover del botón */


/* Uno de los estilos más sencillos y eficaces para el estado :hover
   consiste en subir hacia arriba ligeramente la imagen de fondo del
   botón, pero puedes definir otros estilos adicionales si quieres. */

.btn-ttc:hover {
    background-position: 0 -15px;
}

@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
}
.formulario{
    border: 2px solid green;
    padding: 50px 10px;
    text-align: center;
    margin: 10% 15%;
}
